.produtos-search__header{
  display: flex;
  width: 100%;
  justify-content: center;
  /* background-color: green; */
  margin-bottom: 20px;
}
.produtos-search{
/* background-color: red; */
justify-content: center;  
z-index: 1;
display: block;
flex: auto; 


} 

.produtos-search__input{
  display: flex;
  height: 42px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 10px;
  font-size: 16px;
}

.produtos-search__header h1{
  text-transform: uppercase;
  color: #060b26;
 /*  background-color:green; */
  /* margin-left: 100px; */
}

/*  @media only screen and (max-width: 400px) {
.produtos-search__header h1{
  margin-left: 100px; 
 
}
}  */   
/* .btn1{
padding: 10px;
background-color: #060b26;
justify-content: center;
border: none;
color:#fff;
}
*/
.btn{

background-color:  #060b26;
border: none;
color:#fff;
/* justify-content: flex-end;
text-align: center;
align-items: center; */
/* margin-left: 58.5%; */
}

/* @media only screen and (max-width: 400px) {
.btn{
  margin-right: 167px; 
 
}
}  */

.bt{
justify-content: center;
text-align: end;
display: block;
align-items: center;
flex:1;


}




.titles{
 padding-right: 20%; 
/* margin-left: 80px; */
  
 width: 50%;
}

/* @media only screen and (max-width: 400px) {
.titles{
 /* background-color: yellow; 
 font-size: 70%;
 margin-left: 80px;
 
}
} */